.jumbotron { 
    margin-top: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    background: linear-gradient(0.25turn, rgb(223.92, 255, 0), rgb(36.895, 130.05, 22.95), rgb(242.25, 12.75, 16.575));
    height: 150px;
   
  }


  .container1 {
     padding-left: 10px;
  }
 
   .btn {
  	width: 100%
  }

.footer-address-icon {
    padding-right: 10px;
}

.footer-estilo {
  
    background-color: rgb(153, 153, 255);
    padding: 10px 10px 10px 20px; 
    color: blue;
}

.footer-estilo a {
  color: blue;
}



.container-accordion {
    margin: 50px 50px;
          

}

[icono="positivo"] {
  color:rgb(229.5, 178.08, 25.5);
  margin-right: 15px;
    
}

.accordion-body {

  background-color: rgb(211.76, 206.55, 252.45);
  font-weight: bold;
}


.accordion-imagen {
   text-align: left;
   padding: 5px 10px;
   
}


.imagina {
  border: 3px solid rgb(51, 51, 0);
}


/*superponer*/


.prueba img {
    width: 600px;
}

.datos {
    align-content: center;
    margin: auto;
}


/*#tibu{
  width: 0.06%;
  transition: transform .2s;
}*/

.test {
    width: 6.1%;
    height: 4.7%;
}

i {
    transition: transform .2s;
}

i:hover {
    transform: scale(1.5);
}

.efecto:hover img {
    /*  transform: scale(1.5);*/
    /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    /*  transition: transform .2s;*/
    animation: pines .6s infinite alternate;
    transform-origin: bottom;
}

.efecto:focus img {
    animation: pines .6s infinite alternate;
    transform-origin: bottom;
}


/*
#cucuta:hover {
  transform: scale(1.5);
  transition: transform .2s;
}
*/

.datos {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
}

.image2 {
    position: absolute;
    top: 26%;
    left: 49%;
}

.image3 {
    position: absolute;
    top: 25%;
    left: 25%;
}

.image4 {
    position: absolute;
    top: 12%;
    left: 27%;
}

.image5 {
    position: absolute;
    top: 23%;
    left: 34%;
}

.image6 {
    position: absolute;
    top: 26%;
    left: 42%;
}

.image7 {
    position: absolute;
    top: 16%;
    left: 53%;
}

.image8 {
    position: absolute;
    top: 21%;
    left: 74%;
}

.image9 {
    position: absolute;
    top: 30%;
    left: 62%;
}

.image10 {
    position: absolute;
    top: 41%;
    left: 52%;
}

.image11 {
    position: absolute;
    top: 37%;
    left: 38%;
}

.image12 {
    position: absolute;
    top: 41%;
    left: 32%;
}

.image13 {
    position: absolute;
    top: 40%;
    left: 25%;
}

.image14 {
    position: absolute;
    top: 49%;
    left: 19%;
}

@keyframes pines {
    to {
        transform: scale(1.5);
    }
}  */
